.edupad {
  margin-top: $block-margin;
  margin-bottom: $block-margin;

  padding: 1.5rem;
  background-color: #eee;
  font-size: 1rem;
}

.author-a-3z74z6z67zz66z5z72zz81z4wz88zz84zz77zz86zn1 {
  background-color: #e5c252;
}

.author-a-z87zz66zkplf0ocz90zz87z6vnz72zz81z {
  background-color: #e47255;
}
.author-a-z83zz86zlklz81zodz77zjklz66zgqz66z {
  background-color: #e95064;
}
.author-a-z89zz68znybgz90zz75zrtz78znpz122zz74z8 {
  background-color: #52d273;
}
.author-a-z72zz122zz72z0pz74zz81z3z90zoz72zz82zz72zz70zz71zz82z {
  background-color: #46bddf;
}
.author-a-0jqwnz68z8tqfg4z86zpz85z5 {
  background-color: #b3b7bb;
}
.author-a-z83zz86zjykz78zz74zz76zz74zz65z1xz73zrz85z0 {
  background-color: #2fbd7e;
}
.author-a-dp0sz88zz89zrwz82zgz86z5psz76zz86z {
  background-color: red;
}
.author-a-z87z2z68zz84zz77zz87z1psiz79zz68zz66zcz69zz83z {
  background-color: #17cab6;
}
.author-a-8bz88zz75zz79zz68z9z82zfz84z1z66zz77z105 {
  background-color: #b5abfd;
}
.author-a-dsz87zl16uqz72zz69zdiz71zyz77z6 {
  background-color: #ff91b0;
}
.author-a-vz77zwz75zw823z66ztz81zz80zz70ztz67za {
  background-color: #f4f9c4;
}

.author-a-d9nb1xz72zfz88zz71zr6az70zxz88z {
  background-color: #52d273;
}

.author-a-z90zz68z4iz83z6rz67zh7z71zrvdz84zp {
  background-color: #52d273;
}

.author-a-i8z81zyqz76zz122z8z85zz85zz66zz81zlz90zpm {
  background-color: #e47255;
}

.author-a-wez71zsrijp9z68zwz88zz66zz70zgd {
  background-color: #4cc9ec;
}
