
/* General */

img {
  max-width: 100%;
  margin-bottom: $block-margin;
}

p {
  margin-bottom: $richtext-margin;
}

ul {
  padding-left: 1.25em;
  margin-bottom: $richtext-margin;
}

dt {
  font-weight: bold;
  margin-bottom: .5rem;
}

dd {
  margin-bottom: $block-margin;
}


/* Content */

.content {
  max-width: 640px;
  margin: 3rem auto 0;
}