.slideshow {
  position: relative;
  overflow: hidden;
}

.slideshow__image {
  position: relative;
  overflow: hidden;

  img {
    display: block;
    transition: all 0.25s ease;
  }

  // Mask
  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.slideshow__control {
  $height: 2rem;

  width: 3rem;
  height: $height;
  margin-top: -($height / 2);

  position: absolute;
  top: 50%;
  z-index: 10;

  cursor: pointer;

  border: none;
  background: $shakespeare url("../images/arrow-right.svg") center / 1.25rem
    no-repeat;

  transition: 0.3s ease;
  transition-property: opacity, visibility, transform;

  transform: translate(0);

  &[hidden] {
    display: block;
  }

  &:hover {
    background-color: lighten($shakespeare, 5%);
  }
}

.slideshow__control--prev {
  left: 0;
  background-image: url("../images/arrow-left.svg");

  &[hidden] {
    transform: translate(-100%);
  }
}

.slideshow__control--next {
  right: 0;

  &[hidden] {
    transform: translate(100%);
  }
}

.slideshow__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0.5rem 0.75rem;

  font-size: $font-size-small;
  color: $white;
  background-color: $shakespeare;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease;
  transition-property: opacity, visibility;

  &[data-active="true"] {
    opacity: 1;
    visibility: visible;
  }
}

/* --- DEBUG --- */

.debug {
  position: absolute;
  width: 50%;
  height: 50%;
}

.debug--1 {
  top: 0;
  left: 0;
  background-color: transparentize(#00ff00, 0.8);
}

.debug--2 {
  top: 0;
  right: 0;
  background-color: transparentize(#00ffff, 0.8);
}

.debug--3 {
  bottom: 0;
  right: 0;
  background-color: transparentize(#ff0000, 0.8);
}

.debug--4 {
  bottom: 0;
  left: 0;
  background-color: transparentize(#ffff00, 0.8);
}
